@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-color: @Configuration["Take2:Settings:BackgroundColor"]
    }
    h1 {
        color: @Configuration["Take2:Settings:FontColor"];
        font-size: @Configuration["Take2:Settings:FontSize"];
    }
</style>
<head>
    <title>Index View</title>
</head>
<body>
    <h1>@Configuration["Take2:Settings:Message"]</h1>
</body>
</html>